<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>

    {% load static %}

    <link rel="stylesheet" href="{%static 'css/home.css'%}">

    <script src="{%static 'js/home.js'%}"></script>

    <img src="{%static 'Images/Book my show.png'%}" alt="Logo">

</head>
<body>
    <p>Welcome To TalentViVid!</p>
    <p2>Hi Srihari How are you?</p2>
    <button onclick="showMsg()"> Click Me!</button>
</body>
</html>